:root {
  --pink-50: #fdf2f8;
  --pink-100: #fce7f3;
  --pink-200: #fbcfe8;
  --pink-300: #f9a8d4;
  --pink-400: #f472b6;
  --pink-500: #ec4899;
  --pink-600: #db2777;
  --pink-700: #be185d;
  --pink-800: #9d174d;
  --pink-900: #831843;
  --pink-950: #500724;
}

[data-color-mode="dark"] {
  --pink-50: #500724;
  --pink-100: #831843;
  --pink-200: #9d174d;
  --pink-300: #be185d;
  --pink-400: #db2777;
  --pink-500: #ec4899;
  --pink-600: #f472b6;
  --pink-700: #f9a8d4;
  --pink-800: #fbcfe8;
  --pink-900: #fce7f3;
  --pink-950: #fdf2f8;
}
